bin
obj
.vs
.vscode
*.user
*.swp
*.suo
*.userosscache
*.sln.docstates
.git
.gitignore
*.mdf
*.ldf
**/appsettings.Development.json
**/appsettings.Local.json
**/appsettings.*.local.json
**/Properties/launchSettings.json
*.log
node_modules
wwwroot/uploads
